@charset "UTF-8";
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{

}

div.conversion,div.nuance{
  float: left;
  width: 50%;
  height: 100%;
}

div.conversion{
  background:#d0d0ff;
}

div.nuance{
  background:#b0ffb3;
}

/*conversion*/
.conversion p{

}
.conversion .before{

}
.conversion .after{

}
.conversion #form1{
  width:100%;
  height:10%;
}
.conversion textarea,.conversion button{
  float:left;
}
.conversion textarea{

}
.conversion button{
  width:10%;;
  height:100%;
  margin: 1.5% 0.5%;
  padding: 0% 0% 0% 0%;
  font-size:0.9rem;
  color:white;
  background-color:#3F51B5;
}
.option{
  width:100%;
  height:50%;
  margin: 10% 0% 0% 0%;
}
.before , .after{
  float:left;
}
.before{
  margin: 0% 0% 0% 17%;
}
.after{
  margin: 0% 30% 0% 30%;
}

.conversion #form2{
  width:100%;
  height:80%;
  text-align:center;
}

input[type="text"] {
  width:30%;
  height:5%;
  margin: 0.5% 1%;
  padding: 0% 0% 0% 0%;
}


/*nuance*/
.nowVolDiv,.volCtrlDiv{
  float:left;
  width:50%;
  height:10%;
}
.nuance .nowVolDiv{

}
.nowVol,.nowVolValue{
  float:left;
  font-size:2rem;
}

.nuance .nowVol{
  margin: 7% 0% 0% 0%;
  padding: 0% 0% 0% 0%;

}
.nuance .nowVolValue{
  margin: 7% 0% 0% 0%;
  padding: 0% 0% 0% 0%;

}

/* 音量調節 */
.nuance .volCtrlDiv{
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}
.volCtrl,.nowCtrlBtn{
  float:left;
  font-size:2rem;
}
.nuance .volCtrl{
  margin: 7% 0% 0% 0%;
  padding: 0% 0% 0% 0%;

}
.nuance .volCtrlBtn{
  height:100%;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;

}
.nuance .plusVolume,.nuance .minusVolume{
  width:26%;
  height:80%;
  margin: 2% 0% 0% 3%;
  padding: 0% 0% 0% 0%;
  font-size:2rem;
 background-color:white;
}
.nuance form{

}
.nuance textarea{

}
.nuance .talkButton{

}
.nuance .stopButton{

}
