@charset "UTF-8";

/*===============================================================================
各ディスプレイ設定
===============================================================================*/
@media screen and (min-width : 300px){
    html,body{ font-size : 30%;
    }
}
@media screen and (min-width : 500px) {
    html,body{ font-size : 50%;
    }
}
@media screen and (min-width : 768px){
    html,body{ font-size : 80%;
    }
}
@media screen and (min-width : 1024px) {
    html,body{ font-size: 100%;
    }
}

img {
  /*スマホ対応*/
  max-width : 100% ;
  height : auto ;
}

/*===============================================================================
全体設定
===============================================================================*/
html{
  width: 100%;
  height: 100vh;
}

body{
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;

  background-color: rgb(141, 84, 157);
  background-size: 100% 100%;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;

  /*スマホ横画面対応*/
  -webkit-text-size-adjust : 100% ;

  /*スクロール使用*/
  overflow-y: scroll;
}

button{
  background-color: #248;
  color: #fff;
  border-style: none;

  /* x文字以上...*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
}button:hover {
  /*背景色を明るい青色に指定*/
  background-color: #24d;
  color: #fff;
}

p{
  margin:0%;
}

/*===============================================================================
各div設定
===============================================================================*/

div.header{
  height:20%;
  width:100%;
  /*background-color:#3abfc3;*/
}

div.main{
  height:60%;
  width:100%;
  /*background-color:#3ac349;*/

}

div.footer{
  height:20%;
  width:100%;
  /*background-color:#90c33a;*/
}


/*===============================================================================
index.html
===============================================================================*/
p.indexTitle{
  font-size:7rem;
  text-align:center;
  padding: 0% 15% 0% 0%;
}
img.indexTitle{
  width:80%;
  height:80%;
  margin: 5% 1% 1% 0%;

}

img.appStartBtn{
  width:50%;
  height:30%;
  font-size:4rem;
  border-style:double;

  margin: 18% 0% 0% 18%;
  padding: 0% 0% 0% 0%;
  border: 0% 0% 0% 0%;

  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;

}img.appStartBtn:hover {
  /*背景色を明るい青色に指定*/
  background-color: #dadada;
  color: #fff;
}

/*===============================================================================
preview.html
===============================================================================*/
p.previewTitle{
  font-size:3.2rem;
  margin: 1% 0% 0% 0%;
}
img.imgPreviewTitle{
  width:80%;
  height:70%;
}
div.boxMain{
  width: 100%;
  height: 100%;
}
/* ビデオカメラ */
div.boxMainPreview{
  width: 100%;
  height: 100%;
}
/* boxMainPreview */

div#videoBox{
  width: 60%;
  height: 100%;
}
div.img-camera{
  width: 100%;
  height: 100%;
  padding: 0% 0% 0% 15%;
}
canvas#main{
  margin: 0%;
  width: 90%;
  height: 90%;
}
div#countDown{
  color: black;
  font-size:10rem;
  position:absolute;
  top: 30%;
  right: 30%;
}

/*===============================================================================
showImg.html
===============================================================================*/


img.showImgTitle{
  width:80%;
  margin: 2% 0% 0% 1%;
  padding: 0% 0% 0% 0%;
  border: 0% 0% 0% 0%;
}

img.usrPhoto{
  width:40%;
  margin: 0% 0% 0% 0%;
  padding: 2% 0% 0% 18%;
  border: 0% 0% 0% 0%;
}


img.imgCheckBtn{
  width:20%;
  height:80%;

  margin: 0% 0% 0% 10%;
  padding: 0% 0% 0% 0%;
  border: 0% 0% 0% 0%;

  border-style:double;

  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
}img.imgCheckBtn:hover{
  background-color: #dadada;
  color: #fff;
}


/*===============================================================================
resultCheck.html
===============================================================================*/
img.resultCheckTitle{
  width: 70%;
  height: 20vh;
  margin: 0% 0% 0% 5%;
  padding: 0% 0% 0% 0%;
  border: 0% 0% 0% 0%;
}
div#resultKigo{
  font-size: 6rem;
  margin: 5% 0% 0% 0%;
  padding: 0% 0% 0% 10%;
  border: 0% 0% 0% 0%;
}
div#result7{
  font-size: 6rem;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 17%;
  border: 0% 0% 0% 0%;
}
div#result5{
  font-size: 6rem;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 40%;
  border: 0% 0% 0% 0%;
}

/*===============================================================================
finish.html
===============================================================================*/


img.thxImage{
  width:70%;
  margin: 15% 0% 0% 7%;
  padding: 0% 0% 0% 0%;
  border: 0% 0% 0% 0%;
}
