@charset "UTF-8";

/*test2*/

body {
  -webkit-touch-callout:none; // リンク長押しのポップアップを無効化
  -webkit-user-select:none; // テキスト長押しの選択ボックスを無効化
}
/* タ グ 設 定 */
/* @media screen and (min-width : 300px){z
    html,body{ font-size : 70%;
    }
}
@media screen and (min-width : 500px) {
    html,body{ font-size : 80%;
    }
}
@media screen and (min-width : 768px){
    html,body{ font-size : 90%;
    }
}
@media screen and (min-width : 1024px) {
    html,body{ font-size: 100%;
    }
} */

/*スマホ対応*/
/* @media screen and (max-width: 480px) {
h2 {
  font-size : 75% ;
  margin : 1em 0 0.8em 0 ; }
}

@media screen and (max-width: 480px) {
p {
  width : 100% ;
  font-size : 65% ;
  margin : 0 0 1.8em 0 ;
  line-height : 1.7 ; }
} */
/*スクロールで横がグラグラしないようにする*/
#wrap { overflow : hidden ; }
/* B O X 1 内 */

#robotName{
    border: solid 1px rgb(70, 83, 176);
    box-sizing: border-box;
}

#robotName,div.setting,#id_batteryImage{
    box-sizing: border-box;
    float: left;
}

div#robotName {
    font-size: 1em;
    width: 35%;
    height: 90%;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img#id_batteryImage {
    width: 9%;
    height: 90%;
    padding: 5px 0px 0px 0px;
    border-style: none;
}

div#id_battery{
  text-align: center;
  width: 50%;
  margin: 10px 10px;
}

div.setting{
  width: 50%;
  height: 100%;
}

form#form1{
  height: 80%;
  width: 55%;
  margin-top: 1%;
}

div.speShr{
  height:auto;
  padding: 8% 0px 0px 0px;
}
#speed{
  height: 100%;
  width: 40%;
  font-size:0.5em;
}
#voiceSharping{
  height: 100%;
  width: 40%;
  font-size:0.5em;
}
.speedSharpingButton{
  height:90%;
  margin-top: 1%;
  /*Buttonの横幅*/
  width: auto;
  /*Buttonの縦幅*/
  background-color: #248;
  color: #fff;
  border-style: none;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.speShr,#form1,.speedSharpingButton{
  float:left;
}

p.alifeFont{
  font-size: 0.8em;
}

button.alifeOn{
  margin: 0px 0px 0px 18px;
}
button.alifeOff{
  margin: 0px 0px 0px 15px;
}
button.alifeButton {
    box-sizing: border-box;
    float: left;
    /*Buttonの横幅*/
    width: 35%;
    /*Buttonの縦幅*/
    height: 50px;
    border: 10px 10px;
    padding: 10px 10px;
    background-color: #248;
    color: #fff;
    border-style: none;
    /* x文字以上...*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button.alifeButton:hover {
    /*背景色を明るい青色に指定*/
    background-color: #24d;
    color: #fff;
}


.systemButton {
    /*Buttonの横幅*/
    width: 80%;
    /*Buttonの縦幅*/
    height: 50px;
    margin: 5px 10px;
    border: 10px 10px;
    padding: 10px 10px;
    background-color: #248;
    color: #fff;
    border-style: none;
    /* x文字以上...*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}button.systemButton:hover {
    background-color: #24d;
    color: #fff;
}


/*=======================================================================
                        共通設定
=======================================================================*/

button{
  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
}
img {
  max-width : 100% ;
  height : auto ;
}


p.topContent{
  font-size: 30px
}


/*=======================================================================
                        システム画面
=======================================================================*/


div.systemBox{
  width: auto;
  height: 500px;
  border: solid 2px rgb(70, 83, 176);
  text-align:center;
}


div.appBox{
  overflow-y: scroll;
  width: auto;
  height: 1000px;
  margin:0;padding:0;
  border: solid 2px rgb(70, 83, 176);
}
div#list{
  width: 100%;
}


/* div.system */
button.system{
    font-size: 50px;
    height: 100px;
    margin: 5px 10px;
    border: 10px 10px;
    padding: 10px 10px;
    background-color: #248;
    color: #fff;
    border-style: none;
    /* x文字以上...*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}button.system:hover {
    /*背景色を明るい青色に指定*/
    background-color: #24d;
    color: #fff;
}

div.ALife{
  font-size: 30px;
  width:100%;
}

button.ALife{
  width: 45%;
}

div.state{
  width: 100%;
}

button.state{
  width: 45%;
}

/* VOLUME */
div.volume{
  width: 100%;
}
img.volume,button.plusVolume,button.minusVolume,div.nowVolume{
  float:left;
}
img.volume{
  width: 20%;
  height: 100px;
}

button.plusVolume{
  width: 20%;
  height: 100px;
}

div.nowVolume{
  width: 20%;
  height: 100px;
  font-size:70px;
}

button.minusVolume{
  width: 20%;
  height: 100px;
}

/* SYS */
div.sys{
  width:100%;
}
button.appFinish{
  width: 30%;
  height: 100px;
}
button.reboot{
  width: 30%;
  height: 100px;
}
button.shutdown{
  width: 30%;
  height: 100px;
}


/* div.appBox */
div#list{
  width:100%;
  text-align:center;
}

button.allAppButton {
  margin: 5px 10px;
  border: 10px 10px;
  padding: 10px 10px;
  font-weight: normal;
  background-color: #248;
  color: #fff;
  width: 45%;
  height: 100px;
  font-size:40px;
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  text-shadow: 1px 1px 2px #000;
  /* グラデーションの指定 */
  background: -moz-liner-gradient(bottom, #36d, #248, 50%, #36d);
  background: -webkit-gradient(liner, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
  /*角丸の指定*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*　X文字以上で...*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}button.allAppButton:hover {
    /*背景色を明るい青色に指定*/
    background-color: #24d;
    color: #fff;
}

/*=======================================================================
                        モーション画面
=======================================================================*/
/* ビデオカメラ */
div.boxMainPreview{
  width: 800px;
  height: 300px;
}
div#videoBox{
  width: 800px;
  height: 100%;
}

/* videoBox */

div.img-camera{
  width: 800px;
  height: 300px;
}
canvas#main{
  width: 800px;
  height: 300px;
}

/* コントローラー */
div.motionBox{
  width: 90%;
  height: 1000px;
  margin:0;
}
div.arrow,div.abButton,div.pauseBox{
  float:left;
}
div.controlBox{
  width:100%;
  height:30%;
}
div.arrow{
  width:50%;
}
img.arrow{
  width: 130px;
  height: 130px;
/*   border: solid 1px rgb(70, 83, 176); */
}img.arrow:hover{
  background-color: rgb(13, 122, 27);
}

div.abButton{
  width:50%;
  padding: 15% 0% 0% 0%;
}
img.abButton{
  width:150px;
  height:150px;
  margin: 0% 0% 0% 10%;
}img.abButton:hover{
  background-color: rgb(244, 186, 175);
}
div.pauseBox{
  width: 100%;
  height: 500px;
  padding: 10% 0% 0% 5%;
}
img.pauseBox{
  width: 200px;
  height: 200px;
  margin: 0% 0% 0% 0%;
}img.pauseBox:hover {
    /*背景色を明るい青色に指定*/
    background-color: #a0f99e;
    color: #fff;
}

/*=======================================================================
                        タブ設定
=======================================================================*/
/* 表示領域全体 */
div.allTab div.tabbox {
    width: 100%;
    height: 1450px;
}
/* タブ部分 */
div.allTab p.tabs {

}

div.allTab p.tabs a {
    display: block;
    width: 24%;
    float: left;
    margin: 0px 1px 0px 0px;
    padding: 3px;
    font-size:35px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}
/*タブリンク1*/
div.allTab p.tabs a.tab1 {
    background-color: #435844;
    color: white;
}
/*タブリンク2*/
div.allTab p.tabs a.tab2 {
    background-color: #435844;
    color: white;
}
/*タブリンク3*/
div.allTab p.tabs a.tab3 {
    background-color: #435844;
    color: white;
}
/*タブリンク4*/
div.allTab p.tabs a.tab4 {
    background-color: #435844;
    color: white;
}

div.allTab p.tabs a:hover {
    color: yellow;
    text-decoration: underline;
}

/* 対応表示領域 */
div.allTab div.tab {
    height: 100%;
    width: 100%;
    overflow: auto;
    clear: left;
}

div.allTab div#tab1 {
    /*border: 3px solid blue;
    background-color: #ccffff;*/
}div#tab1.tab{
  width: 100%;
  height: 100%;
}

div.allTab div#tab2 {
    /*border: 3px solid #aaaa00;
    background-color: #ffffcc;*/
}div#tab2.tab{
  width: 100%;
  height: 100%;
}

div.allTab div#tab3 {
    /*border: 3px solid red;
    background-color: #ffcccc;*/
}div#tab3.tab{
  width: 100%;
  height: 100%;
}

div.allTab div#tab4 {
    /*border: 3px solid red;
    background-color: #ffcccc;*/
}div#tab4.tab{
  width: 100%;
  height: 100%;
}

div.allTab div.tab p {
    margin: 0.5em;
}


/* 装飾（今回のテクニックとは無関係） */
div.allTab div.tab ul, div.tab ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.allTab div.tab li {
    line-height: 1.35;
    margin-bottom: 0px;
    margin-top: 0px;
}
div.allTab div.tab ul li {
    list-style-type: disc;
}
div.allTab div.tab p.tabhead {
    font-weight: bold;
    border-bottom: 3px double gray;
}

/*=======================================================================
                        トーク画面
=======================================================================*/

/* ト ー ク 集 */
button.talkButton{
  font-size:40px;
  width: 45%;
  margin: 4px 1px 1px 10px;
  /*Buttonの縦幅*/
  height: 100px;
  background-color: #248;
  color: #fff;
  border-style: none;
  text-align: center;
}button.talkButton:hover {
    /*背景色を明るい青色に指定*/
    background-color: #24d;
    color: #fff;
}

img.playButton,input.freeText{
  float: left;
}
img.playButton{
  width: 80px;
    margin: 50px 3px 3px 20px;
}img.playButton:hover{
  background-color: rgb(75, 120, 208);
}

input.freeText {
    font-size:40px;
    width: 70%;
    height: 80px;
    margin: 50px 3px 3px 30px;
}

/*======音声認識===================================================================*/
p.tabHead{
  font-size: 30px;
}
div#nowLanguage{
  font-size: 50px;
}

div.speechRecoBox,div.languageBox{
  float:left;
}
div.speechRecoBox{
  font-size: 50px;
  width:100%;
}
div.languageBox{
  width: 100%;
  height: 200px;
  text-align:center;
}
form.recoForm{
  width:100%;

}
img.countryFlag{
  width: 25%;
  margin: 3%;
}
input.inputClass{
    font-size:50px;
    width: 70%;
    height: 80px;
    margin: 10px 3px 3px 30px;
}
input.inputNum{
    font-size:60px;
    width: 20%;
    height: 80px;
    margin: 10px 3px 3px 30px;
}
button.recoStart{
  font-size:30px;
  width: 45%;
  margin: 50px 1px 1px 10px;
  /*Buttonの縦幅*/
  height: 100px;
  background-color: #248;
  color: #fff;
  border-style: none;
  text-align: center;
}button.recoStart:hover {
    /*背景色を明るい青色に指定*/
    background-color: #24d;
    color: #fff;
}
button.recoStop{
  font-size:30px;
  width: 25%;
  margin: 10px 1px 1px 60px;
  /*Buttonの縦幅*/
  height: 100px;
  background-color: #248;
  color: #fff;
  border-style: none;
  text-align: center;
}button.recoStop:hover {
    /*背景色を明るい青色に指定*/
    background-color: #24d;
    color: #fff;
}
