@charset "UTF-8";

/*===共通設定==================================================================*/
html,body{
  width: 100%;height: 100%;
  margin: 0%;padding:0%;border:0%;
}

/* iPhone6 */
@media screen and (min-width : 375px){
    html,body{ font-size : 22%;}
    div{font-size:22%;}
    button{font-size:22%;}
    img{width:22%;height:auto;}
}
/* ? */
@media screen and (min-width : 500px) {
    html,body{ font-size : 40%;}
    div{font-size:40%;}
    button{font-size:40%;}
    img{width:40%;height:auto;}
}
/* iPad */
@media screen and (min-width : 768px){
    html,body{ font-size : 60%;}
    div{font-size:60%;}
    button{font-size:60%;}
    img{width:60%;height:auto;}
}
/* iPadPro */
@media screen and (min-width : 1024px) {
    html,body{ font-size: 80%;}
    div{font-size:80%;}
    button{font-size:80%;}
    img{width:80%;height:auto;}

}
/* Pepperタブレット */
@media screen and (min-width : 1707px) {
    html,body{ font-size: 100%;}
    div{font-size:100%;}
    button{font-size:100%;}
    img{max-width:100%;height:auto;}
}






body{
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-text-size-adjust : 100% ;
}


div.header,div.main,div.footer{
  float:left;
}
div.header{
  width: 100%;height: 20%;
}
div.main{
  width: 100%;height: 60%;
}
div.footer{
  width: 100%;height: 20%;
}

/*header*/
div.boxHeader{
  width: 100%;
  height: 50%;

  background-color: rgb(61, 161, 244);
}
div.titleClass{
  font-size: 6em;
  text-align: center;
  background-color: rgb(61, 161, 244);

}
/*main*/
div.boxMain{
  width: 100%;
  height: 100%;
}

/*footer*/
div.boxFooter{
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0% 0% 0% 0%;
  background-color: rgb(61, 161, 244);
}

/*button関連*/
button.buttonClass{
  /* x文字以上...*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
}button.buttonClass:hover {
  /*背景色を明るい青色に指定*/
  background-color: #24d;
  color: #fff;
}

button.footerButton{
  width: 35%;
  height: 60%;
  font-size: 6em;
  margin: 3% 7% 0% 7.5%;
  background-color: #248;
  color: #fff;
  border-style: none;
}


/*== index.html =============================================================*/

div.photoFrame{
  width:100;
  height:100%;
  text-align: center;
}

img.indexPhoto{
  width: 60%;
  height: 90%;
}

div.indexTitle{
  font-size:3rem;
  text-align:center;
}




/*== inputName.html ==========================================================*/

form.form1{
  height:100%;
  text-align: center;
}

input.inputClass{
  width:80%;
  height: 70%;
  font-size: 70pt;
  border-style: double;
  text-align: center;
}

div.boxMainInputName{
  height: 100%;
}

/*== preview.html==========================================================*/


div.previewTitle{
  font-size:3rem;
  text-align:center;
}


/* ビデオカメラ */
div.boxMainPreview{
  width: 100%;
  height: 100%;
}
/* boxMainPreview */
div#dataBox,div#videoBox{
  float:left;
}
div#videoBox{
  width: 60%;
  height: 100%;
}
div#dataBox{
  width: 40%;
  height:100%;
}

/* videoBox */

div.img-camera{
  width: 100%;
  height: 100%;
  padding: 0% 0% 0% 5%;
}
canvas#main{
  margin: 0%;
  width: 90%;
  height: 90%;
}

/* dataBox */
/*ユーザ有無*/
div#userCheck{
  font-size: 40pt;
  width: 100%;
  height: auto;
}
/*笑顔レベル*/
div#smileLev{
  font-size: 60pt;
  width: 100%;
  height: auto;
}



/*== scoring.html=============================================================*/
img.scoringPhoto{
  width:80%;
  height:80%;
}

#resultHaiku{
  font-size: 7rem;
  text-align: center;
}

/*== annoucement.html========================================================*/
img.announcementPhoto{
  width:50%;
  height:80%;
}

/*===result.html==============================================================*/
div.showImgTitle{
  font-size:3rem;
  text-align:center;
}


div#usrScoreOutput,div#usrNameOutput{
  float: left;
}

div.certificate{
  width:35%;
  height: 50%;
  padding: 1% 30% 0% 0%;
  position: fixed;
  right: 0%;
}
/*ユーザの顔写真*/
img.usrPhoto{
  width: 100%;
  height: 100%;
}
/*ユーザ名*/
div#usrNameOutput{
  width:60%;
  height:30%;
  font-size: 50pt;
  text-align: center;
}
/*ユーザスコア*/
div#usrScoreOutput{
  width:60%;
  height:70%;
  font-size: 4em;
  text-align: left;
}
/*===finish.html==============================================================*/
img.finishPhoto{
  width:40%;
  height:80%;
}
