@charset "UTF-8";
/* CSS Document */

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
	width: 100%;
}

.buttons {
	width: 90%;
	margin: 300px auto 0 auto;
	text-align: center;
}

.buttons button {
	font-size: 256px;
	width: 32%;
	line-height: 2;
	display: inline-block;
	margin-right: 1%;
}

.buttons button:last-child {
	margin-right: 0;
}
