@charset "UTF-8";
/* CSS Document */
/* QRReading.html用CSS */

/**************************************************************************/
/* 登録名入力エリア                                                       */
/**************************************************************************/

/**************************************************************************/
/* カメラ画像表示エリア                                                       */
/**************************************************************************/
.boxB1 {
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 107px;
  width: 938px;
  height:800px;
  //background-color: red;
}

/**************************************************************************/
/* 認証結果表示エリア                                                       */
/**************************************************************************/
/**************************************************************************/
/* 履歴表示エリア                                                       */
/**************************************************************************/
/**************************************************************************/
/* カメラ枠                                                                 */
/**************************************************************************/
.cameraframe {
    position: absolute;
    left: 150px;
    top: 100px;//(163-157)
}

.img-camera {
    position: absolute;
    left: 500px;
    top: 125px;
    width: 720px;
    height: 540px;
    //background-color: blue;
}


/**************************************************************************/
/* 登録内容表示テーブル                                                     */
/**************************************************************************/
