@charset "UTF-8";

/* CSS Document */

#background {
    width: 2160px;
    height: 1440px;
    background-image: url(../img/start.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #464646;

}
body {
    width: 100%;
}
